.admin-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.flex-spacer {
  flex: 1 1 auto;
}


app-resource-overview, app-order-history-component {
  flex: 1 1 45%;
  height: 470px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 768px) {
  .admin-container {
    flex-direction: column;
    gap: 15px;
  }

  app-resource-overview, app-order-history-component {
    width: 100%;
    height: auto;
  }
}
